# Used in start.sh
BOOTSTRAP_PROJECT="platform-orchestration"
STATE_BUCKET="${BOOTSTRAP_PROJECT}-terraform-state"
REGION="europe-west2"
BILLING_ACCOUNT="<billing_account>"

export BOOTSTRAP_PROJECT STATE_BUCKET REGION BILLING_ACCOUNT
